@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
font-family: 'JetBrains Mono';
height: 100vh;
max-height: 100%;
}

#root {
  margin: 0px auto;
  max-height: 100%;
  display: flex;
  margin-bottom: 50px;
}

.App {
  margin: 0px auto 10px;
  max-width: 100%;
  max-height: 100%;

}

@keyframes move-twinkle-back {
  from {background-position: 0 0}
  to {background-position: -10000px 5000px;}
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: block
}

.stars{
  background: rgb(144, 144, 144) url(./images/stars.png) repeat top center;
  z-index: -2;
   
}

.twinkling {
  background: transparent url(./images/light-twinkle.png) repeat top center;
  z-index: -1;
  animation: move-twinkle-back 200s linear infinite;
}

.main-logo {
  width: 70%;
  margin: 8% auto;
 
}

.logo-div {
  grid-column: 1 / 2;
  grid-row: 1 / 2 ;
  max-width: 80%;
  margin: 0px auto;
  text-align: center;
}




/* .sketch-img {
  width: 100%;
  max-height: 700px;
  margin: 0px auto;
  opacity: 65%;
} */

.words {
  display: flex;
  flex-wrap: wrap;
  max-width: 950px;
  width: 90%;
  margin: 0 auto;
  padding-top: 50px; 

}

.main-container {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr minmax(60px, 0.6fr) minmax(30px, 1fr) 2fr minmax(30px, 1fr);
  grid-gap: 3%;
  height: 100%;
  max-width: 1200px;
  margin: 0px auto;
  text-align: center;
}

.icon-reset {
  width: 25px;
  opacity: 50%;
  padding-bottom: 10px;
}

.icon-reset:hover {
  width: 26px;
  opacity: 100%;
}

.icon-login {
  width: 19%;
  min-width: 43px;
  margin-top: 1px;
  opacity: 50%;
}
.icon-login:hover {
  opacity: 100%;

}

.icon-signup {
  width: 14%;
  min-width: 26px;
  margin-top: 11px;
  opacity: 50%;
}

.icon-signup:hover {
  opacity: 100%;

}

.icon-leader {
  max-width: 15%;
  min-width: 28px;
  margin-top: 7px;
  opacity: 50%;
}

.icon-leader:hover {
  opacity: 100%;

}

.icon-profile {
  max-width: 12%;;
  min-width: 26px;
  margin-top: 10px;
  opacity: 50%;
}

.icon-profile:hover {
  opacity: 100%
}


.icon-logout {
  max-width: 12%;
  min-width: 28px;
  margin-top: 10px;
  width: 38px;
  opacity: 50%;
}
.icon-logout:hover {
  opacity: 100%;
}

.icon-status {
  opacity: 50%;
  font-size: calc(12px + .2vw);
}


.words-container {
  min-height: 35vh;
  margin: 0px auto;
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 4 / 5;                
}

.timer-wpm { 
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  height: 100%;
  margin: 0px auto;
  padding-top: 20px;
  grid-row: 3 / 4;
  grid-column: 1 / 2;
  opacity: 70%
}

.buttons-div {
  display: flex;
  width: 85%;
  max-width: 700px;
  justify-content: space-between; 
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.reset-button {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
  margin-bottom: 15px;
  opacity: 70%;
}

.reset-button:focus {
  outline: none;
  width: 4.5%;
  opacity: 200%   
}


section {

  font-family: 'JetBrains Mono','Courier New', Courier, monospace;
  font-size: calc(16px + .3vw);
  font-weight: 600;
  max-height: 1rem;
  padding-bottom: 12px;
  margin-bottom: 3px;
  color: rgb(89, 88, 88);
  
}

.correct {
  color: rgb(12, 12, 12);
  font-family: 'JetBrains Mono','Courier New', Courier, monospace;
  font-size: calc(16px + .3vw);
  font-weight: 600;
  max-height: 1rem;
}

.incorrect {
  color: rgb(151, 60, 60);;
  font-family: 'JetBrains Mono','Courier New', Courier, monospace;
  font-size: calc(16px + .3vw);
  font-weight: 600;
  max-height: 1rem;
}


.space-incorrect {
  background-color: rgb(151, 60, 60);
  font-size: calc(16px + .3vw);
  border-radius: 4px;
  opacity: 45%;
  height: 6px;
  max-width: 12px;
  margin: 0.3vw 1px 1px;
  
}

.text-box {
  height: 100%;
  width: 100%;  
  opacity: 100%;
  background: none;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  backdrop-filter: blur(5px);
  color:  rgba(255, 255, 255, 0.00);;
  word-break:break-all;
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;

}


.text-box:focus {
  opacity: 0%;
  outline: none;
}

.blur {
  backdrop-filter: blur(8px); 
display: none;
}

.blur {
  background: rgba(255, 255, 255, 0.2); 
  backdrop-filter: blur(8px); 
  /* height: 100%; */
	width: 50%;
}


.current {
  border-left: 2px rgb(151, 60, 60) solid;
  line-height: 1.2;
    
    animation: blink 1s;
    animation-iteration-count: infinite;
}

@keyframes blink { 50% { border-color:#fff ; }  }


div {
  white-space: pre-wrap;
}

.WPM {
  font-size: 3.5vh;
  margin: 5px; 
  z-index: +1;
}

.timer {
  margin: 5px;
  font-size: 3.5vh;
  z-index: +1;
}

.smalltime {
  font-size: 11px;
}

.author{
  padding-top: 10px;
  color: rgb(54, 54, 54)
}


.icon-button-link {
  width: 50%;

}


.modal-backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.5);
  z-index: +2;

}

.modal-content-wrapper {
  position: fixed;
  width: 50%;
  max-width: 800px;
  max-height: 300px;
  background-color: rgba(255, 255, 255, 0.03);;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  z-index: +4;
  border-radius: 10px;
  backdrop-filter: blur(15px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 18px 0px rgba(255, 255, 255, 0.75);
  z-index: +2;
  text-align: center;
  color: rgb(255, 255, 255);
  text-shadow: rgb(252, 252, 252) 1px 0 3px;
  font-size: calc(11px + .3vw);

}

form {
  margin: 60px auto;
}
form * {
  font-family: "courier new", sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}

/* label {
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
} */

.login-input {
  display: block;
  height: 35px;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 3px;
  padding: 0 10px;
  margin: 8px auto;
  font-size: 14px;
  font-weight: 300;
}

#loginbut {
  width: 50%;
  box-shadow: 0 6px rgb(60, 60, 60);
}

#loginbut:hover {
  background-color: rgba(255, 255, 255, 0.492);
}

#loginbut:active {
  width: 50%;
  box-shadow: 0 3px rgb(60, 60, 60);
  transform: translateY(4px);
  background-color: rgba(255, 255, 255, 0.8);
}

#regobut {
  width: 50%;
  box-shadow: 0 6px rgb(60, 60, 60);
}

#regobut:hover {
  background-color: rgba(255, 255, 255, 0.492);
}

#regobut:active {
  width: 50%;
  box-shadow: 0 3px rgb(60, 60, 60);
  transform: translateY(4px);
  background-color: rgba(255, 255, 255, 0.8);
}

::placeholder {
  color: #e1e1e1;
}

.input-container:hover{
  outline: 2px solid rgba(255, 255, 255, 0.972);
}

.leader-modal-content {
  height: 20%;
  height: 85%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  max-height: 200px;
  text-align: left;
  row-gap: 15px;
  margin: 20px auto;
  padding: 0px 20px 10px;

}

.leaderboard-rank {
  all: unset;
  color: white;
  font-size: calc(6px + .4vw);
  word-break:break-all;
  max-width: 25ch;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin: 0px auto;

}

.leaderboard-wpm {
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(9px + .7vw);
  font-weight: 600;

}

.leaderboard-small-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: calc(7px + .5vw)
}

.modal-pic {
  margin: 20px auto 0px auto;
  height: 15px;
}

.stats-container {
  width: 80%;
  margin: 60px auto;
  text-align: left;

}

.stats {
  margin: 15px auto;
}

@media (max-width: 700px) {
  .leader-modal-content {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    margin: 15px auto;
  }

  .words-container {
    min-height: 50vh;
  }
}
