



.words {
  display: flex;
  flex-wrap: wrap;
  max-width:800px;
  margin: 200px auto 50px auto;
}

.main-container {
  margin: 0px auto;
  text-align: center;
}

.words-container {
  margin: 0px auto;
}

.word {
  display: flex;
  margin-right: 0.4rem;
  padding: 0px 10px 15px 0px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 24px;
  font-weight: 400;
  max-height: 1rem;
}